<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.rjfun.cordova.plugin.chinamm-iap" 
version="0.0.1" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">

	<name>ChinaMobile IAP</name>
	<description>Add ChinaMobile In-App Payment to cordova apps or games</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>IAP,billing,pay,payment,China,Mobile</keywords>
    <repo>https://github.com/floatinghotpot/cordova-plugin-chinammbilling.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-plugin-chinammbilling/issues</issue>
    
<js-module name="MMBiling" src="www/MMBiling.js">
<clobbers target="cordova.plugins.MMBiling" />
</js-module>

<platform name="android">

<dependency id="cn.10086.iapsdk" version=">=2.4.0"/>
<preference name="APP_ID"/>
<preference name="APP_KEY"/>
<preference name="APP_PACKAGE_ID"/>

<config-file parent="/*" target="res/xml/config.xml">
	<feature name="MMBiling">
	<param name="android-package" value="com.rjfun.cordova.plugin.MMBiling" />
	</feature>
</config-file>

<config-file target="AndroidManifest.xml" parent="/manifest/application">

<meta-data android:name="my_api_id" android:value="$APP_ID" />
<meta-data android:name="my_api_key" android:value="$APP_KEY" />

        <!-- android:launchMode="singleInstance" -->
        <activity
            android:name="mm.purchasesdk.iapservice.BillingLayoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter android:priority="240" >
                <action android:name="$APP_PACKAGE_ID.com.mmiap.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

</config-file>

<source-file src="src/android/MMBiling.java" target-dir="src/com/rjfun/cordova/plugin" />

</platform>

</plugin>
